# Système
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dépendances (si tu ajoutes des outils un jour : npm, sass, etc.)
node_modules/

# Fichiers temporaires
*.tmp
*.bak
~$*
